body{
    background-image: url("4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
td{
    height: 40px;
    width: 5px;
    padding-bottom: 34px;
}

hr{
    width: 200px;
    height: 1px;
    color: rgb(205, 212, 212);
    background-color: rgb(205, 212, 212);
    border-top: 0px;
    margin-bottom: 20px;
}
.nm{
    width: 40%;
}
h1{
    font-size: 27px;
    text-align: center;
    padding-top: 2px;
    margin-bottom: 4px;;
}
table {
    width: 100%;
    margin-left: 28px;
    margin-top: 20px;
  }
.welcome{
    height: 500px;
    width: 430px;
    background-color: white;
   
    position: absolute;
    top: 14%;
    left:33%;
    border-radius: 18px;
    box-shadow: 10px 12px 12px 1px rgb(221, 224, 224);
    
}
.img{
    background-size: cover;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    border: 4px solid;
    margin-left:160px;
    margin-bottom: 20px;
}
.imgeye{
    background-image: url("eyeclosed.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.imgmon{
    background-image: url("mondown.jpg");
    background-repeat: no-repeat;
    background-position: center;
    

}
.createtext{
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
    color: rgb(112, 107, 107);
}

.nametext{
    font-size: 18px;
    margin-left: 5px;
    color: rgb(74, 71, 71);
    
    font-family: 'Lato', sans-serif;
}

.nameenter{
    height: 35px;
    width: 240px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 5px 2px 10px 1px rgb(236, 236, 238);
}

.register{
    width: 340px;
    box-shadow: 5px 2px 10px 2px rgb(186, 186, 187);
    background-color: rgb(52, 51, 51);
    border: 0ch;
}
.register:hover{
    background-color: rgb(211, 205, 205);
    box-shadow: 4px 4px 10px 4px rgb(236, 236, 238);;
    color: black;
    border: 0ch;
}
.buttony{
    margin-left: 40px;
    margin-top: 40px;
}
.alreadyaccount{
    margin-top: 20px;
}

@media screen and (max-width: 1537px) {

    body{
        background-image: url("5.png") ;
        
    }
    .welcome{
        top: 18%;
        left: 18%;
    }
  }
  @media screen and (max-width: 1081px) {

    body{
        background-image: url("7.png") ;
        
    }
    .welcome{
        top: 18%;
        left: 18%;
    }
  }

